<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755522027500-b6s7j05rftck6i7k41cv2dh9s8eheo2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755522027500-b6s7j05rftck6i7k41cv2dh9s8eheo2j</string>
	<key>API_KEY</key>
	<string>AIzaSyDg1Ai672s4iNmmlFLuKkPurSRBdVFqdc4</string>
	<key>GCM_SENDER_ID</key>
	<string>755522027500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tn.narc.narcsecond</string>
	<key>PROJECT_ID</key>
	<string>narcimages</string>
	<key>STORAGE_BUCKET</key>
	<string>narcimages.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755522027500:ios:2344d12bdcfdce89720ac9</string>
</dict>
</plist>